#header {
    .nav-container {
    position: relative;
    height: 0.1vh;
    width: 100%;
    .navbar {
        background-color: white;
        position: relative;
        height: 40px;
        z-index: 999;
        .logo-container {
            display: flex;
            //justify-content: space-between !important;
            .logo {
                position: absolute;
                top: 0% !important;
                left: 50%;
                transform: translateX(-50%);
                width: 13.8rem !important;
                //height: 60px;
                cursor: pointer;
                z-index: 999999;
                image-rendering: auto;
            }
    #menuBtn {
        position: fixed;
        width: 50px !important;
        left: 92%;
        height: 10px;
        top: 3%;
        //transform: translateY(-165%);
        z-index: 999999999999999999999999999999999999999999999999;
        cursor: pointer;
    }
}
    .navbar-nav li a {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        color: $brand-color;
        padding: 2px 7px;
        text-decoration: none;
        font-size: 12.5px;
        font-family: 'moriartyregular';
        font-weight: 700;
        z-index: 0;
    &:hover {
        background-color: #ddd;
        color: #000;
    }
    }
    ul {
        list-style: none;
        overflow: hidden;
        display: block;
    li {
        display: inline-block;
        margin: 0 25px;
    &:nth-child(4) {
            padding-left: 13px !important;
    }
    &:nth-child(5) {
        padding-left: 17px !important;
    }
    }
    }
    }
    .side-nav {
        height: 100vh;
        width: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: $back-color;
        opacity: 1;
        overflow-x: hidden;
        overflow-y: hidden;
        padding-top: 60px;
        transition: 0.5s;
        z-index: 999999999999;
    a {
        padding: 10px 10px 10px 30px;
        text-decoration: none;
        text-align: center;
        font-size: 29px;
        font-family: 'oldsman_no.1regular';
        font-weight: 700;
        position: relative;
        left: -10px;
        top: 30px;
        color: #071116;
        display: block;
        transition: 0.6s;
        outline: none !important;
    }
    a:hover {
        color: rgb(1, 1, 24);
        font-size: 37px;
        outline: none !important;
    }
    .btn-close {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: 30px;
        right: 0px;
        font-size: 32px;
        outline: none !important;
        z-index: 0;
    }
    .side-footer {
        font-family: 'artefactlightuploaded_file';
        width: 100%;
        font-weight: 800;
        font-size: 10px;
        color:  rgb(2, 22, 27);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        align-self: flex-end;
        position: absolute;
        top: 90%;
        padding-top: 18px;
        padding-left: 10px;
        padding-right: 10px;
    p {
        justify-content: center;
        align-self: center;
    }
    }
    }
    }
    }
    #body {
        transition: margin-left 0.5s;
        padding: 0 20px;
        overflow: hidden;
        width: 100%;
    }

    /*MEDIA QUERY FOR MOBILE AND TABLET VIEW */
    @media (max-width: 600px) {
        #menuBtn {
            position: fixed;
            width: 40px !important;
            left: 84% !important;
            height: 10px;
            top: 2%;
            transform: translateY(-50%);
            z-index: 999999999999999999999999;
            cursor: pointer;
        }
    }
    @media (max-width:576px) {
        #header {
            .nav-container {
            display: flex;
            justify-content: space-between;
            position: relative;
            height: 0.1vh;
            width: 100%;
            padding-left: 60px !important;
            padding-right: 100px !important;
            .logo {
                position: absolute;
                top: 0px !important;
                left: 25px !important;
                transform: translateX(0%);
                //height: 32px !important;
                width: 16rem !important;
                cursor: pointer;
                z-index: 999999;
            }
            #menuBtn {
                position: fixed;
                width: 40px !important;
                //left: 92% !important;
                height: 10px;
                top: 0%;
                transform: translateY(-50%);
                z-index: 999999999999999999999999;
                cursor: pointer;
            }
            .side-nav {
                height: 67vh !important;
                width: 0;
                position: fixed;
                top: 0;
                left: 0;
                background-color: $back-color;
                opacity: 1;
                overflow-x: hidden;
                overflow-y: hidden;
                padding-top: 60px;
                transition: 0.5s;
                z-index: 999999999999;
            a {
                padding: 10px 10px 10px 30px;
                text-decoration: none;
                text-align: center;
                font-size: 29px;
                font-family: 'oldsman_no.1regular';
                font-weight: 700;
                position: relative;
                left: -10px;
                top: 30px;
                color: #071116;
                display: block;
                transition: 0.6s;
                outline: none !important;
            }
        }
    }
        }
    }